<!DOCTYPE html>

<html lang="en">
<head>
    <title>Portfolio</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/assets/css/styles.css">
    <link id="theme-style" rel="stylesheet" href="/assets/css/custom_styles.css">
    
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container" onclick="location.href='/'">
                
                <h3 class="">Ha Sunghyeok</h3>
                <h3 class="tagline">Developer</h3>
            </div>
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: ehdqoddl6@gmail.com"> ehdqoddl6@gmail.com </a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="https://portfolio-hsh.herokuapp.com/" target="p_blank">portfolio.herokuapp.com</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/ehdqoddl6?tab=repositories" target="_blank">github.com/ehdqoddl6</a></li>
                </ul>
            </div>
            
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Department of Software</h4>
                    <h5 class="meta">Gachon University</h5>
                    <div class="time">2015 - 2021</div>
                </div>
                
            </div>
         
            <div class="interests-container container-block">

                <h2 class="container-block-title" onclick="doDisplay()"> Project </h2>

                <ul id='toc-toggle', class="list-unstyled interests-list">
                    
                    <form action="" method="post">
                        <input type="hidden" name="project_name" value="android"/>  
                        <li> <button class="trans_btn" herf="/admin/products/write"> App </button></li>
                    </form>

                    <form action="" method="post">
                        <input type="hidden" name="project_name" class="form-control" value="machine-learning"/>  
                        <li> <button class="trans_btn" herf="/admin/products/write"> Machine learning </button></li>
                    </form> 

                    <form action="" method="post">
                        <input type="hidden" name="project_name" class="form-control" value="arduino"/>  
                        <li> <button class="trans_btn" herf="/admin/products/write"> Arduino </button></li>
                    </form> 

                    <form action="" method="post">
                        <input type="hidden" name="project_name" class="form-control" value="network"/>  
                        <li> <button class="trans_btn" herf="/admin/products/write"> Network </button></li>
                    </form>
                    
                    <form action="" method="post">
                        <input type="hidden" name="project_name" class="form-control" value="web"/>  
                        <li> <button class="trans_btn" herf="/admin/products/write"> Web </button></li>
                    </form> 

                        
                </ul>
            </div><!--//interests-->
                      
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">

            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                
                <div class="item">
                    
                    
                    <%projects.forEach(function(project){%>
                    <table class="word">
                        
                        <tr>
                            <td width="100px"> <span class="project-title"><p>Project title</p></span></th>
                            <td> <span class="project-tagline"><p> <%=project.name%> </p></span></th>   
                        </tr>
                        
                        <tr>
                            <td><span class="project-title"> <p>Description</p></span></td>
                            <td><span class="project-tagline"> <p><%=project.description%></p></span></td>
                        </tr>

                        <tr>
                            <td> <span class="project-title"><p>Period</p></span></th>
                            <td> <span class="project-tagline"><p> <%=project.start%> ~ <%=project.end%></p></span></th>   
                        </tr>

                        <tr>
                            <td> <span class="project-title"><p>language</p></span></th>
                            <td> <span class="project-tagline"><p> <%=project.language%></p></span></th>   
                        </tr>

                        <tr>
                            <td> <span class="project-title"><p>Tool</p></span></th>
                            <td> <span class="project-tagline"><p><%=project.tool%></p></span></th>   
                        </tr>

                        <tr>
                            <td> <span class="project-title"><p>Role</p></span></th>
                            <td> <span class="project-tagline"><p><%=project.role%></p></span></th>   
                        </tr>

                        <tr>
                            <td> <span class="project-title"><p>Github</p></span></th>
                            <td> <span class="project-tagline"><a href=<%=project.url%>><p><%=project.url%></p></a></span></th>   
                        </tr>
                  

                        
        
                    </table>
                    <hr style="border: dashed 1px #e9e9e9e;">
                    <% });%>

                    
                    
                </div><!--//item-->
                
            </section><!--//section-->
                 
        </div><!--//main-body-->
    </div>
 

    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>            
</body>
</html> 

